
{% block title %}Booking Successful{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <h1 class="text-success">Booking Successful!</h1>
    <p>Your booking has been confirmed. A confirmation email has been sent to your email address.</p>
    <a href="/" class="btn btn-primary">Return to Home</a>
</div>
{% endblock %}